<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    	Django project
    {% endblock %}
</head>
<body>
<h1>Welcome to my django project!</h1>
<p>Feel free to say hi to me <a href="https://github.com/Faith-K-commits/" target="_blank" >here</a>.</p>
{% block content %}
	
{% endblock %}
</body>
</html>